
$background-color-light: #FFFFFF;
$background-color-dark: #1F2833;
$background-color-emphasis: #673ab7;
$text-color: #C5C6C7;
$text-color-dark: #1F2833;
$text-color-emphasis: #673ab7;
$emphasis: #673ab7;
$off-white: #C5C6C7;
$white: #FFFFFF;

