<div style="display: flex;">
  <mat-card class="dialog mat-elevation-z0">
    <mat-card-actions class="button-wrapper-right">
      <button
        class="close-button"
        mat-dialog-close
        aria-label="Close movie-detail dialog button">
        X
      </button>
    </mat-card-actions>
    <mat-card-title class="dialog__title">{{movieDetail.Title}}</mat-card-title>
    <mat-dialog-content>
      <div><span class="content__sub-title">Description: </span>{{movieDetail.Description}}</div>
    </mat-dialog-content>
  </mat-card>
</div>
