<div style="display: flex;">
  <mat-card class="dialog">
    <mat-card-actions>
      <button
        class="close-button"
        mat-stroked-button
        mat-dialog-close
        aria-label="Close movie-detail dialog button"
        color="primary">
        X
      </button>
    </mat-card-actions>
    <mat-card-title class="dialog__title">{{movieDetail.Title}}</mat-card-title>
    <mat-dialog-content>
      <div><span class="content_sub-title">Description: </span>{{movieDetail.Description}}</div>
    </mat-dialog-content>
  </mat-card>
</div>
