@import "../../styles/abstract/variables";

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

mat-card-action:last-child {
  margin: 5px;
}


.fav-list{
  display: flex;
  flex-direction: column;
}


.header{
  font-weight: bold;
  color: $text-color-emphasis;
}

.fav-list-item {
  font-size: 14px;
}
