<div class="profile-form">
  <mat-card class="form mat-elevation-z0">
    <mat-card-header class="form__header">
      <mat-card-title class="form__title">Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form__content">
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="user.Name"
            placeholder="Name"
            type="text"
            name="Name"
            [required]="true"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="user.Password"
            type="password"
            placeholder="Password"
            name="Password"
            [required]="true"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="user.Email"
            type="email"
            placeholder="Email"
            name="Email"
            [required]="true"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="user.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        class="button"
        (click)="updateUser()"
      >
        Update Info
      </button>
      <button
        mat-button
        class="button"
        (click)="deleteUser()"
      >
        Delete Profile
      </button>
    </mat-card-actions>
    <mat-list class="fav-list">
      <h3 matSubheader class="header">Favorite Movies:</h3>
      <mat-list-item class="fav-list-item" *ngFor="let favMovie of favoriteMovies">
        {{favMovie.Title}}
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

